.card-header{
    background-color: black;
    color: purple;
    border: 5px solid purple;
    border-radius: 1%;

}

.card{
    margin-top: 50px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: purple;
    background-image: url("../img/rules-6.jpg");
    min-height: 100%;
    width: 100%;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;

}

.card-body{
    background-color: black;
    color: rebeccapurple;
    border: 5px solid purple;
    border-radius: 1%;
}

.btn-link{
    color:purple;
}

.btn-primary{
    background-color: black;
    border: 2px solid purple;
    color: rebeccapurple;
}

.btn-primary:hover{
    background-color: purple;
    border: 3px solid purple;
    color: white;
}

.form-control{
    border: 2px solid purple;
}

.create-post-container{
    background-color: black;
    border: 3px solid purple;
    border-radius: 1%;
    padding: 30px;
    margin-top: 125px;

}