.parallax{
    /* background-size: cover;
    background-attachment: fixed;
    height: 500px; */
    min-height: 400px;
    background: transparent;
  }

  .info{
      z-index: 2;
      position: relative;
  }






